@font-face {
    font-family: 'OpenSansLight';
    src: url('../assets/fonts/OpenSansLight.eot');
    src: url('../assets/fonts/OpenSansLight.eot') format('embedded-opentype'), url('../assets/fonts/OpenSansLight.woff2') format('woff2'), url('../assets/fonts/OpenSansLight.woff') format('woff'), url('../assets/fonts/OpenSansLight.ttf') format('truetype'), url('../assets/fonts/OpenSansLight.svg#OpenSansLight') format('svg');
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../assets/fonts/OpenSansRegular.eot');
    src: url('../assets/fonts/OpenSansRegular.eot') format('embedded-opentype'), url('../assets/fonts/OpenSansRegular.woff2') format('woff2'), url('../assets/fonts/OpenSansRegular.woff') format('woff'), url('../assets/fonts/OpenSansRegular.ttf') format('truetype'), url('../assets/fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../assets/fonts/OpenSansBold.eot');
    src: url('../assets/fonts/OpenSansBold.eot') format('embedded-opentype'), url('../assets/fonts/OpenSansBold.woff2') format('woff2'), url('../assets/fonts/OpenSansBold.woff') format('woff'), url('../assets/fonts/OpenSansBold.ttf') format('truetype'), url('../assets/fonts/OpenSansBold.svg#OpenSansBold') format('svg');
}

@font-face {
    font-family: 'OpenSansSemiBold';
    src: url('../assets/fonts/OpenSansSemiBold.eot');
    src: url('../assets/fonts/OpenSansSemiBold.eot') format('embedded-opentype'), url('../assets/fonts/OpenSansSemiBold.woff2') format('woff2'), url('../assets/fonts/OpenSansSemiBold.woff') format('woff'), url('../assets/fonts/OpenSansSemiBold.ttf') format('truetype'), url('../assets/fonts/OpenSansSemiBold.svg#OpenSansSemiBold') format('svg');
	
}

$openlit: OpenSansLight;
$openreg: OpenSansRegular;
$openbold: OpenSansBold;
$opensembold: OpenSansSemiBold;